<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Patient Info App{% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    {% block head_extra %}{% endblock %}
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo">
          <h1>
            <a
              href="{{ url_for('home') }}"
              style="color: inherit; text-decoration: none"
              >Patient Records</a
            >
          </h1>
        </div>
        <nav>
          <ul>
            <li>
              <a
                href="{{ url_for('patients.display_patients') }}"
                class="{{ 'active' if request.endpoint == 'patients.display_patients' else '' }}"
                >Patients</a
              >
            </li>
            <li>
              <a
                href="{{ url_for('patients.new_patient') }}"
                class="{{ 'active' if request.endpoint == 'patients.new_patient' else '' }}"
                >Add Patient</a
              >
            </li>
            <li>
              <a
                href="{{ url_for('patients.diagnosis_search') }}"
                class="{{ 'active' if request.endpoint == 'patients.diagnosis_search' else '' }}"
                >Search Diagnosis</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="container mt-4">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul class="flash-messages">
        {% for category, message in messages %}

        <li class="flash-message flash-{{ category|default('info') }}">
          {{ message }}
        </li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} 
      {% block content %} {% endblock %}
    </main>

    <footer></footer>
  </body>
</html>
