{% extends 'layout.html' %}
{% block head_extra %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

{% endblock %}
{% block content %}
<div class="container pt-4">
  <h2 class="text-center">Symptoms List</h2>
    <form method="GET" action="{{ url_for('patients.symptoms_search') }}">
      <div class="input-group mb-3 mt-3">
      <input type="text" name="search" id="symptoms-search" placeholder="Search by Symptoms"
        value="{{ request.args.get('search', '') }}" class="form-control" />
      <button type="submit" class="btn btn-outline-primary">Search</button>
      </div>
    </form>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Patient Name</th>
          <th>Patient Phone Number</th>
          <th>Date</th>
          <th>Symptoms</th>
          <th>Diagnosis</th>
          <th>Treatment</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        {% for visit in visits %}
        <tr>
          <td data-label="ID">{{ visit.id }}</td>
          <td data-label="ID">{{ visit.patient.name }}</td>
          <td data-label="ID">{{ visit.patient.phone }}</td>
          <td data-label="Date">{{ visit.visit_date.strftime('%Y-%m-%d %H:%M') }}</td>
          <td style="white-space: pre-wrap;" data-label="Symptoms">{{ visit.symptoms }}</td>
          <td style="white-space: pre-wrap;" data-label="Diagnosis">{{ visit.diagnosis }}</td>
          <td style="white-space: pre-wrap;" data-label="Treatment">{{ visit.treatment }}</td>
          <td style="white-space: pre-wrap;" data-label="Notes">{{ visit.notes }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <ul class="pagination justify-content-center mt-4">
    {% if pagination.has_prev %}
    <li class="page-item">
      <a class="page-link"
        href="{{ url_for('patients.symptoms_search', page=pagination.prev_num, search=search_term) }}">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link">Previous</span>
    </li>
    {% endif %}

    {% for num in range(1, pagination.pages + 1) %}
    <li class="page-item {% if num == pagination.page %}active{% endif %}">
      <a class="page-link" href="{{ url_for('patients.symptoms_search', page=num, search=search_term) }}">{{ num }}</a>
    </li>
    {% endfor %}

    {% if pagination.has_next %}
    <li class="page-item">
      <a class="page-link"
        href="{{ url_for('patients.symptoms_search', page=pagination.next_num, search=search_term) }}">Next</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link">Next</span>
    </li>
    {% endif %}
  </ul>
</div>

<script>
  $(function () {
    function split(val) {
      return val.split(/,\s*/);
    }

    function extractLast(term) {
      return split(term).pop();
    }

    $("#symptoms-search").on("keydown", function (event) {
      if (event.key === "Tab" && $(this).autocomplete("instance").menu.active) {
        event.preventDefault();
      }
    }).autocomplete({
      minLength: 2,
      source: function (request, response) {
        $.getJSON("{{ url_for('patients.autocomplete_symptoms') }}", {
          term: extractLast(request.term)
        }, response);
      },
      focus: function () {
        return false;
      },
      select: function (event, ui) {
        var terms = split(this.value);
        terms.pop();
        terms.push(ui.item.value);
        terms.push("");
        this.value = terms.join(", ");
        return false;
      }
    });
  });
</script>
{% endblock %}